<%- include("../partials/header") %>

    <div class="container">

        <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            <div class="col-lg-12">
                <h3>
                    <%= user.realusername%> 's Cats
                </h3>

            </div>


            <% for (var i = 0; i < cats.length; i++) { %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= cats[i].profilepic%>">
                        <div class="caption">
                            <h4>
                                <%= cats[i].name%>
                            </h4>
                        </div>

                        <p>
                            <a href="/cats/<%= cats[i]._id%>" class="btn btn-primary">More Info</a>
                        </p>

                        <p>
                            <% if (currentUser && currentUser._id.equals(cats[i].owner.id)) {%>
                                <form class="delete-form" action="/cats/<%=cats[i]._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger">Delete Cat</button>
                                </form>
                                <%}%>
                        </p>

                    </div>


                </div>
                <% }%>


                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                            <a href="/cats/new">
                                <h1>Add a New Cat</h1>
                            </a>

                        </div>
                    </div>

        </div>



    </div>


    <%- include("../partials/footer") %>