<%- include("../partials/header") %>

    <div class="container">

        <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            <div class="col-lg-12">
                <h3>
                    <%= cat.name%>
                </h3>
                <img src="<%=cat.profilepic%>" height="80" width="100">
                <p>Gender:
                    <%= cat.gender%>
                </p>
                <p>Breed:
                    <%= cat.breed%>
                </p>
                <p>Age:
                    <%= cat.age%>
                </p>
                <p>Description:
                    <%= cat.description%>
                </p>

            </div>

            <% for (var i = 0; i < cat.postings.length; i++) { %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">


                        <a href="<%=cat.id%>/posts/<%=cat.postings[i].id%>">
                            <img src="<%=cat.postings[i].images[0]%>">
                        </a>

                        <p>
                            <%= cat.postings[i].content%> <a href="<%=cat.id%>/posts/<%=cat.postings[i].id%>">
                                More about the post
                            </a>
                        </p>

                        <p>likes:
                            <%= cat.postings[i].likes%>
                        </p>

                        <p>
                            <form action="/cats/<%= cat.id %>/posts/<%= cat.postings[i].id%>/likes?_method=PUT" method="POST">
                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary btn-block">Like</button>
                                </div>
                            </form>
                        </p>




                    </div>
                </div>
                <% }%>

                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                            <a href="/cats/<%= cat.id%>/posts/newPost">
                                <h1>Add a New Post</h1>
                            </a>

                        </div>
                    </div>

        </div>



    </div>


    <%- include("../partials/footer") %>